@charset "UTF-8";

@import 'vendor/normalize';

body {
    max-width: 1000px;
    margin: 0 auto;
}

/* HEADER */

.home-link {
    color: #777;
    text-decoration: none;
}

.login {
    margin-right: 10px;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    background: #f8f8f8;
    padding: 15px;
    align-items: center;
}